@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,500&display=swap');

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html { 
    font-family: 'Montserrat', sans-serif; 
    color: white
}

.container { 
    min-height: 100vh; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 10px; 
    background-color: #009578; 
}

.timeline { 
    width: 100%; 
    height: auto; 
    max-width: 90%; 
    margin: 20%; 
    position: relative; 
}

.timeline ul { 
    list-style: none; 
}

.timeline ul li { 
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    color: white; 
    border-radius: 10px; 
    margin-bottom: 20px; 
}

.timeline ul li:last-child { 
    margin-bottom: 0; 
}

.timeline-content h1 { 
    font-size: 25px; 
    font-weight: 500; 
    line-height: 30px; 
    margin-bottom: 10px; 
}

.timeline-content p { 
    font-size: 16px; 
    line-height: 30px; 
    font-weight: 300; 
}

.timeline-content .date { 
    font-size: 13px; 
    font-weight: 300; 
    margin-bottom: 10px; 
    letter-spacing: 2px; 
}

.timeline ul a{ 
    text-decoration: none; 
    color: inherit; 
}
/* 768 */
@media only screen and (min-width: 500px) { 
    .timeline::before { 
        content: '';
        position: absolute;
        height: 100%;
        width: 3px;
        background-color: white; 
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline ul li { 
        width: 50%; 
        margin-bottom: 50px; 
        position: relative; 
    }
    .timeline ul li:nth-child(odd) { 
        float: left; 
        clear: right; 
        transform: translateX(-30px); 
        border-radius: 10px 0px 10px 10px; 
    }
    .timeline ul li:nth-child(even) { 
        float: right; 
        clear: left; 
        transform: translateX(30px); 
        border-radius: 0px 10px 10px 10px; 
    }
    .timeline ul li::after { 
        content: ''; 
        position: absolute; 
        height: 15px; 
        width: 15px; 
        background-color: white; 
        border-radius: 50%; 
        top: 0; 
    }
    .timeline ul::after { 
        content: ''; 
        position: absolute; 
        height: 15px; 
        width: 15px; 
        border-radius: 50%;
        background-color: white; 
        top: initial; 
        bottom: 0; 
        transform: translate(-50%, 50%)
    }
    .timeline ul li:nth-child(odd)::after { 
        transform: translate(50%, -50%); 
        right: -30px; 
    }
    .timeline ul li:nth-child(even)::after { 
        transform: translate(-50%, -50%); 
        left: -30px; 
    }
    .clickable:hover::after{ 
        background-color: rgb(165, 170, 147); 
        transition: 0.5s; 
    }
    .clickable:hover { 
        background-color: rgba(255, 255, 255, 0.3); 
        transition: 0.5s; 
    }
    .timeline-content .date { 
        position: absolute; 
        top: -30px; 
    }
}